<?xml version="1.0"?>
<config>
    <modules>
        <VS7_AutoPosition>
            <version>0.2.0</version>
        </VS7_AutoPosition>
    </modules>
    <global>
        <helpers>
            <vs7_autoposition>
                <class>VS7_AutoPosition_Helper</class>
            </vs7_autoposition>
        </helpers>
        <blocks>
            <vs7_autoposition>
                <class>VS7_AutoPosition_Block</class>
            </vs7_autoposition>
        </blocks>
        <models>
            <vs7_autoposition>
                <class>VS7_AutoPosition_Model</class>
                <resourceModel>vs7_autoposition_resource</resourceModel>
            </vs7_autoposition>
            <vs7_autoposition_resource>
                <class>VS7_AutoPosition_Model_Resource</class>
                <entities>
                    <catalog_category_product>
                        <table>vs7_catalog_category_product</table>
                    </catalog_category_product>
                    <increment>
                        <table>vs7_autoposition_inc</table>
                    </increment>
                </entities>
            </vs7_autoposition_resource>
        </models>
        <resources>
            <vs7_autoposition_setup>
                <setup>
                    <module>VS7_AutoPosition</module>
                </setup>
            </vs7_autoposition_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <catalog_controller_product_init_after>
                <observers>
                    <vs7_autoposition>
                        <class>vs7_autoposition/observer</class>
                        <method>setPosition</method>
                    </vs7_autoposition>
                </observers>
            </catalog_controller_product_init_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vs7_autoposition before="Mage_Adminhtml">VS7_AutoPosition_Adminhtml</vs7_autoposition>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>